
  <div class="footer">
    <div class="container" style="margin-top:2em">
      <div class="col-sm-4"></div>
      <div class="col-sm-4" style="text-align:center"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
  <script src="/js/easing.js"></script>
  <script src="/js/quicksand.js"></script>
  <script src="/js/app.js"></script>
  