---
layout: default
---
      {% capture the_collection %}{{page.collection}}{% endcapture %}
      {% if page.collection %}
        {% assign  document = site[the_collection]  %}
      {% endif %}
      {% for links in document  %}
        {% if links.title == page.title %}
          {% unless forloop.first %}
            {% assign prevurl = prev.url %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexturl = next.url %}
          {% endunless %}
        {% endif %}
        {% assign prev = links %}
      {% endfor %}

      <div style="background: {{page.bg}} url('/img/{{page.header}}') no-repeat right center; 
    background-size: auto 15em; color: {{page.fg}};" class="jumbotron">
        <div class="container">
          <h1>{{page.title}}</h1>
          <p>{{page.lead}}</p>
                    
          
          {% if prevurl %}
          <a href="{{prevurl}}" class="btn btn-success pull-left">
            <i class="fa fa-fw fa-caret-left"></i>Previous project
          </a>
          {% endif %}
          

          {% if nexturl %}
          <a href="{{nexturl}}" class="btn btn-success pull-left">
            Next project<i class="fa fa-fw fa-caret-right"></i>
          </a>
          {% endif %}   
          
          <a href="/" style="font-weight: 600" class="btn btn-success active pull-left">
            <i class="fa fa-fw fa-home"></i> Home
          </a>
              
        </div>
      </div>
        
        
        
        <div class="container">
          {{content}}
            
          {% if page.credits %}
          <div class="row">
            <div class="col-sm-12">
            <h3>Collaborators</h3>
            <p style="font-size:1em">{{ page.credits }}</p>
            </div>
          </div>
          {% endif %}
          
        </div>
        
        {{footer}}
        
        
